Options +FollowSymLinks
IndexIgnore */*
RewriteEngine On
     RewriteCond %{HTTP:Authorization} ^(.+)$
     RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    #RewriteBase /path/to/app
    RewriteCond %{REQUEST_FILENAME} !-d [or]
    RewriteCond %{REQUEST_URI} "^/admin/"
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [QSA,L]